body {
    background-color: black;
    margin: 0;
    padding: 0;
}

.controls {
    text-align: center;
    margin: 1em 0;
    color: #d0d0d0;
    font-weight: bold;
    font-size: 1em;
}

canvas {
    /* float: left; */
    display: block;
    margin: 0 auto;
}

.editor {
    float: right;
}

.editor .methods textarea {
    height: 20em;
    width: 50em;
}
